body {
    margin: 0;
    overflow: hidden;
  }
.container{
    display: flex;
}
#MainClickableContent{
    display: block;
    width: 35%;
}
#header{
    background-color: #eee;
    height: 50px;
    position: sticky;
}
#header img{
    position: absolute;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 4%;
}
#notch{
    margin-top: 2%;
    margin-right: 5%;
    float: right;
}
#msg{
    margin-top: 2%;
    margin-right: 5%;
    float: right;
}
#menu{
    margin-top: 2%;
    margin-right: 5%;
    float: right;
}
#header a{
    margin-right: 7%;
    font-size: 25px;
    color: rgb(114, 110, 110);
}
#notificationSection{
    margin: 0;
    display: flex;
    background-color: rgb(103, 238, 238);
}
#NotiDisplay{
    font-size: 20px;
    background-color: white;
    margin-top: 2%;
    height: 40px;
    width: 50px;
    text-align: center;
    padding-top: 3%;
    border-radius: 20px;
    color: aqua;
}
#notificationSection p{
    font-size: 18px;
    margin-left: 4%;
    opacity: 0.7;
}
#notificationSection a{
    text-decoration: none;
    font-size: 16px;
}
#notificationSection a:hover{
    text-decoration: underline;
}
.SearchBar{
    padding-top: 7px;
    height: 50px;
    background-color: #eee;
}
#SearchBtn{
    margin-top: 10px;
    padding-left: 10px;
}
#AddBtn{
    cursor: pointer;
    margin-top: 5px;
    display: none;
    padding-left: 10px;
}
#AddBtn button{
    font-size: 20px;
    border:none;
    background-color: white;
}
.SearchBar table{
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
    background-color: white;
}
.SearchBar input{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}
.one{
    display: flex;
    height: 60px;
    border: 0.1px solid #c4c7bf;
    background-color: white;
}
.profile{
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: #eee;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 4%;
}
#ContactSection2{
    display: none;
    height: 40%;
    overflow-y:auto;
    background-color: #eee;
}
#ContactSection2::-webkit-scrollbar {
    display: none;
  }
#ContactSection{
    height: 55%;
    overflow-y:auto;
    background-color: #eee;
}
#ContactSection::-webkit-scrollbar {
    display: none;
  }
#user{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    border: none;
} 
.one img{
    display: none;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 4%;
}
.one h3{
margin-left: 20px;
}
#ChatSection{
    display: block;
}
#ChatSection p{
    text-align: center;
    opacity: 0.5;
}
#ChatSection hr{
    opacity: 0.2;
    width: 50%;
}
#ChatSection a{
    text-decoration: none;
    color: rgb(44, 74, 247);
}
#ChatSection a:hover{
    text-decoration: underline;
}
#ChatSectionOG{
    display: none;
    width: 65%;
    display: none;
}
.TopSection{
    height: 50px;
    background-color: #eee;
    border: 0.1px solid rgb(153, 149, 149);
    width: 100%;
    position: sticky;
}
.ChatSectionProfile{
    position: absolute;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 10%;
}
#UserChatSection{
    font-size: 25px;
    margin-left: 10px;
    color: #eee;
    border: none;
}
.SearchMenu a{
    font-size: 20px;
}
.name{
    position: absolute;
    margin-left: 22%;
    font-size: 18px;
    font-weight: bold;
}
.middleSection{
    height: 50%;
}
.bottomSection{
    padding-top: 20px;
    position: absolute;
    right: 0;
    width: 65%;
    background-color: aquamarine;
    height: 50px;
    bottom: 0px;
}
.bottomSection a{
    font-size: 150%;
    margin-left: 2%;
}
.bottomSection input{
    width: 70%;
    height: 65%;
    border-radius: 15px;
    border: none;
    margin-left: 4%;
    outline: none;
}
#back{
    display: none;
    position: absolute;
    margin-top: 2.5%;
    font-size: 30px;
}
#mic{
    float: right;
    margin-right: 5%;
}
#menuWindow{
    display: none;
    position: absolute;
    top: 0;
    background-color: aqua;
    height: 30%;
    width: 20%;
    margin-top: 4%;
    margin-left: 15%;
    border-radius: 15px;
    text-align: center;
}
#menuWindow h3{
cursor: pointer;
margin-top: 15%;
}
#arrow{
    position: absolute;
    background-color: aqua;
    margin-right: 20px;
    height: 20%;
    width: 20%;
    right: 0;
    top: 0;
    transform: rotate(45deg);
}
#arrow p{
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 20px;
    transform: rotate(45deg);
    font-size: 20px;
}
@media only screen and (max-width:800px){
    body{
        margin: 0;
    }
    #ChatSectionOG{
        display: none;
        width: 100%;
    }
    #MainClickableContent{
        width: 100%;
    }
    #ChatSection{
        display: none;
    }
    #back{
        display: block;
    }
    .bottomSection{
        width: 100%;
    }
    .bottomSection input{
        width: 60%;
    }
    .TopSection{
        background-color: aquamarine;
    }
    #menuWindow{
        right: 0;
        margin-top: 12%;
        width: 60%;
        height: 40%;
    }
    #menuWindow h3{
        font-size: 100%;
    }
}


